RewriteEngine On
RewriteBase /

RewriteRule ^\.git(.*)$ index.php [R=301,L]
RewriteRule ^auth.token$ index.php [R=301,L]

RewriteRule ^shorten(.*)$ shorten.php?$1 [L,QSA]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?slug=$1 [L,QSA]
